{{#with article.image}}
<div class="header-image-container">
    <img class="header-image" src="{{this}}" style="width:100%;">
</div>
{{/with}}

<div id="main" class="container">
    <div class="header-title text-center limit-container">
        <h1>{{article.title}}</h1>

        <hr>
        <div class="text-center">
        	<a href="{{article.url}}">Visit the original</a>
        </div>
        <hr>
    </div>

    <div id="content" class="limit-container">
        {{{article.content}}}
    </div>
</div>
