<!doctype html>
<html>
<head>
    {{> common-title }}

    <!-- stylesheets -->
    {{> common-essential-stylesheets }}

    <!-- custom body style -->
    <style>
        body {
            padding-bottom: 40px;
        }
    </style>

</head>
<body>

    <!-- header -->
    {{> common-header }}

    <!-- main content -->
    {{> article-content }}

    <!-- essential scripts -->
    {{> common-essential-scripts }}

    <!-- main js app -->
    <script src="/javascript/article.js"></script>

</body>
</html>
